<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">
          <iframe src="<%= src %>" style="zoom:0.60" width="99.6%" height="0" frameborder="0"></iframe>
        </div>
    </div>
</div>
