<div class="pagelet-loading-overlay fade">
  <div style="display: table; overflow: hidden; width: 100%; height:auto;">
    <div style="display: table-cell; vertical-align: middle;">
      <div class="pagelet-loading-overlay__content">
        <span class="spinner spinner-three-bounce">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </span>
        <br>
        <span>Loading...</span>
      </div>
    </div>
  </div>
</div>
